@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --pink: pink;
  --blue: rgb(88, 99, 255);
  --dark-pink: rgb(119, 0, 99);

  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}

body {
  background-color: rgb(19, 20, 24);
}

h1, h2 {
  color: var(--pink);
}

a {
  color: var(--pink);
  background-color: transparent;
  text-decoration: none;
}

a:active, a:hover {
  text-decoration: underline;
}

a:hover {
  color: var(--dark-pink);
}

.container {
  margin: auto;
  width: 75vw;
  max-width: 1680px;
}

/* Utility classes */
.center {
  margin: 0;
  display: flex;
  justify-content: center; 
}

.left {
  margin: 0;
  display: flex;
  justify-content: left;
}

.right {
  margin: 0;
  display: flex;
  justify-content: right;
}

.flex{
  display: flex;
}

.flex-spread {
  justify-content: space-between;
}

.margin-h-10{
  margin-left: 10px;
  margin-right: 10px;
}

.margin-l-40{
  margin-left: 40px;
}

.margin-r-40{
  margin-right: 40px;
}

.margin-v-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-v-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-h-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-auto {
  margin: auto;
}

.text-pink {
  color: var(--pink)
}

.text-blue {
  color: var(--blue);
}

.transperent-background {
  background-color: transparent;
}

.no-text-deco {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-large{
  font-size: large;
}