body {
  background-color: rgb(19, 20, 24);
}

/* paragraphs */
#one {
  color: pink;
}
#two {
  color: rgb(88, 99, 255);
}

/* links */
  a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
 }
  a:visited {
 color: pink;
  background-color: transparent;
  text-decoration: none;
  }
  
   a:hover {
  color: rgb(119, 0, 99);
  background-color: transparent;
  text-decoration: underline;
   }
  
   a:active {
 color: pink;
 background-color: transparent;
 text-decoration: underline;
   }


